extends componentes/plantilla.pug
block contenido
		section.intro
			.intro__imagen: img(src='./images/imagen.png')
			.intro__contenido
				h2 #{titulos[0]}
				p
					| Lorem ipsum dolor sit amet,
					| consectetur adipisicing elit,
					|sed do eiusmod tempor incididunt ut labore
					| et dolore magna aliqua.
					span Lorem ipsum dolor sit amet, consectetur adipisicing
		main.contenido
			+caja('imagen.png', titulos[1], 'Lorem ipsum dolor sit amet')
			+caja('imagen.png', titulos[2], 'Lorem ipsum dolor sit amet')
			+caja('imagen.png', titulos[3], 'Lorem ipsum dolor sit amet')