.contenido
	margin-bottom: 40px
	justify-content: space-evenly
	contenedor(flex, 90%, false)
.caja
	max-width: 400px
	contenedor(block, 90%, true)
	&__contenido
		padding: 20px
		background-color: color-claro
		span
			text-transform: uppercase
			font-family: fuente2
			color: color-secundario
		h3
			text-transform: uppercase
			font-weight: normal
			font-family: fuente2