.estadistica--articulos
	height: 70px
	padding: 20px
	border-top: 0.5px solid alpha(color-primario, .3)
	ul
		display: flex
		margin: 0
		padding: 0
		justify-content: space-evenly
		li
			list-style: none
			color: alpha(color-primario, .3)