.encabezado--con-filtros
	contenedor(flex, 90%, false)
	h2
		width: 70%
		// margin-top: 10px
		text-transform: uppercase
		font-weight: 600
		font-size: 50px
		font-family: fuente2
	.filtros
		width: 30%
		text-align: right
		&__container
			height: 75px
			padding: 25px 20px
			// margin-left: auto
			span
				text-transform: uppercase
				font-family: fuente2
			a
				margin-left: 20px
				font-size: 25px
				color: color-primario
				text-decoration: none
			contenedor(inline-block, auto, true)