-var titulo = 'Titulo Principal'
-var titulos = ['Titulo Principal', 'Subtitulo 1', 'Subtitulo 2', 'Subtitulo 3']
-var enlaces = ['Acerca', 'Noticias', 'Contacto']
mixin caja(img, titulo, contenido)
	.caja
		.caja__imagen: img(src = './images/'+img)
		.caja__contenido
			h3 #{titulo}
			p #{contenido}